# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
